[run]
    include = *apexselftaught/apps/*

omit=
    */tests/*
    apexselftaught/apps/authentication/apps.py
    apexselftaught/apps/profiles/apps.py
    */migrations/*
    apexselftaught/wsgi.py
    apexselftaught/settings.py
    apexselftaught/utils/*

[report]
show_missing=True