[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aniso8601 = "==6.0.0"
autopep8 = "==1.4.4"
certifi = "==2019.6.16"
chardet = "==3.0.4"
coverage = "==4.5.3"
coveralls = "==1.8.1"
dj-database-url = "==0.5.0"
django-graphql-jwt = "==0.2.1"
django-heroku = "==0.3.1"
django-nose = "==1.4.6"
docopt = "==0.6.2"
future = "==0.17.1"
graphene = "==2.1.6"
graphene-django = "==2.3.2"
graphql-core = "==2.2"
graphql-relay = "==0.4.5"
gunicorn = "==19.9.0"
idna = "==2.8"
nose = "==1.3.7"
pep8 = "==1.7.1"
promise = "==2.2.1"
psycopg2 = "==2.7.7"
psycopg2-binary = "==2.8.3"
pycodestyle = "==2.5.0"
python-decouple = "==3.1"
pytz = "==2019.1"
requests = "==2.22.0"
sendgrid = "==6.0.5"
singledispatch = "==3.4.0.3"
six = "==1.12.0"
sqlparse = "==0.3.0"
urllib3 = "==1.25.3"
whitenoise = "==4.1.2"
Django = "==2.2.10"
python_http_client = "==3.1.0"
autoenv = "*"
factory-boy = "==2.12.0"
python-dateutil = "==2.8.0"
text-unidecode = "==1.2"
PyJWT = "==1.7.1"
Rx = "==1.6.1"
Faker = "==2.0.0"

[requires]
python_version = "3.7"
